.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  padding: 1rem;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header      nav"
      "content content"
      "sidebar sidebar"
      "ad      footer";
  }

  nav ul {
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
  }

  nav ul li {
    padding: 5px;
  }
}
